@charset "utf-8";

/* ----------------------------------------

再定義

---------------------------------------- */
html {
	background: url(../../img/common/bg_body_01.png) 0 0 repeat;
}
body {
	line-height: 1.692;
	font-family: "メイリオ",Meiryo, Arial, Helvetica, sans-serif;
	color: #555;
}
img {
	vertical-align: bottom;
}

/* Link Color
---------------------------------------- */
a:link {
	color: #555;
}
a:visited {
	color: #555;
}
a:hover,
a:visited:hover {
	text-decoration: none;
}
a:active {
	color: #555;
}


/* ----------------------------------------

container

---------------------------------------- */
#container {
	font-size: 13px;
}

/* ----------------------------------------

header

---------------------------------------- */
#header {
	position: relative;
	background: #fff;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	margin-bottom: 25px;
}
#header p.skip {
	height: 0;
	width: 0;
	overflow: hidden;
}
#header .inWrap {
	width: 900px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 17px;
}
#siteID {
	width: 50%;
	float: left;
	margin: 30px 0 10px;
}
#hdrNav {
	width: 50%;
	float: right;
	font-size: 14px;
	padding-top: 10px;
}
#hdrNav .inCap {
	text-align: right;
	font-size: 12px;
	margin-bottom: 5px;
}
#hdrNav ul {
	text-align: right;
}
#hdrNav ul li {
	display: inline;
	margin-left: 15px;
}
#hdrNav ul li a {
	border-radius: 15px;
	padding: 5px 15px;
}
#hdrNav li.hdrInfo a {
	padding: 4px 15px;
}
#hdrNav li.hdrInfo a span {
	background-image: url(../../img/common/icon_info.png);
	-webkit-background-size: 17px auto;
	background-size: 17px auto;
	background-position: 0 0;
	display: inline-block;
	min-height: 24px;
	line-height: 1.7;
	padding-left: 23px;
}
#hdrNav li.hdrAccess a span {
	background-image: url(../../img/common/icon_access.png);
	-webkit-background-size: 16px auto;
	background-size: 16px auto;
	background-position: 0 0;
	display: inline-block;
	min-height: 22px;
	line-height: 1.5;
}

/* ----------------------------------------

content

---------------------------------------- */
#content {
	width: 900px;
	margin: 0 auto;
}

/* topicPath
------------------------------- */
#topicPath {
	font-size: 10px;
	margin-bottom: 20px;
}
#topicPath li {
	display: inline;
	padding: 0 4px 0 12px;
	background: url(../../img/common/img_topicpath.png) left center no-repeat;
}
#topicPath li#topPage {
	padding-left: 20px;
	background: none;
	background: url(../../img/common/img_topicpath_home.png) left center no-repeat;
}
#topicPath li a {
	text-decoration: none;
	color: #0169af;
}
#noscript {
	background-color: #fff;
	margin: 0 auto 15px;
	padding: 10px 12px;
	border: 3px solid #ddd;
	width: 875px;
}
.mainBlock {
	padding: 20px 30px;
	border-radius: 6px 6px 0 6px;
	-webkit-border-radius: 6px 6px 0 6px;
	-moz-border-radius: 6px 6px 0 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
	background-color: #fff;
}

/* btnInTit */
.btnInTit {
	position: absolute;
	right: 14px;
	top: 7px;
}

/* boxList */
.boxList {
	margin-bottom: 20px;
}
.boxList .title02 i {
	margin: 0 1px 0 2px;
}
.boxList .imgSec {
	margin-bottom: 10px;
}
.boxList .imgSec .imgL {
	width: 270px;
	margin-top: 0;
}
.boxList .imgSec .imgL img {
	max-width: 100%;
	height: auto;
}
.boxList .inTxt p {
	margin-bottom: 10px;
}

/* iconInTitle */
.iconInTitle {
	display: table;
	width: 100%;
}
.iconInTitle .inTitle {
	height: 100%;
	vertical-align: middle;
	margin-bottom: 10px;
}
.iconInTitle .iconList01 {
	float: left;
	width: 60%;
	vertical-align: middle;
	height: 100%;
}
.iconList01 li {
	margin: 3px 0 2px 6px;
}

/* markYoyaku */
.markYoyaku {
	display: inline-block;
	background: url(/files/img/common/img_mark.png) no-repeat 0 0;
	-webkit-background-size: 58px 18px;
	background-size: 58px 18px;
	overflow: hidden;
	text-indent: -9999px;
	height: 18px;
	vertical-align: middle;
}
.markYoyaku.markMaru {
	width: 17px;
	background-position: 0 -2px;
}
.markYoyaku.markSankaku {
	width: 20px;
	background-position: -19px 0;
}
.markYoyaku.markBatsu {
	width: 16px;
	background-position: -42px 0;
}

/* form tglBox */
#tglBox {
	margin: 20px 0 30px !important;
	border-bottom: 4px solid #ececec;
}

/* form option select */
.optionArea {
	padding: 0 !important;
}
.optionArea ul li {
	border-bottom: 1px dotted #ccc;
	padding: 13px 15px;
	position: relative;
}
.optionArea ul li:last-child {
	border-bottom: none;
}
.optionArea ul li .optionName {
	margin-bottom: 8px;
	position: relative;
	display: inline-block;
	margin-right: 15px;
}
.optionArea ul li input {
	margin-right: 0;
	top: 5px;
	position: absolute;
	left: 0;
}
.optionArea ul li label {
	font-size: 15px;
	font-weight: 700;
	padding-left: 20px;
	display: block;
}
.optionPrice {
	border-radius: 6px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 0 20px;
	line-height: 1.5;
	border-width: 1px;
	border-style: solid;
}
.optionPrice i {font-style: normal;}


/* priceSec */
.priceSec {
	background: #fff;
	z-index: 1000;
}
.priceSec .price {
	width: 245px;
	float: right;
	text-align: right;
	margin-bottom: 2px;
	margin-right: 10px;
}
.priceSec .price span {
	vertical-align: middle;
}
.priceSec .price .uchikeshi {
	color: #de2126;
}
.priceSec .price .uchikeshi span {
	color: #003f6a;
}
.priceSec .priceBox {
	width: 210px;
	float: right;
}
.priceBox {
	border: 8px solid #eee;
	border-radius: 5px;
	text-align: center;
	padding: 10px 10px 8px;
	font-size: 16px;
	font-weight: 700;
}
.priceBox span {
	font-size: 24px;
	vertical-align: middle;
	color: #de2126;
}
.priceBox .basic{
	text-align: left;
	padding-left: 20px;
}
.priceSec02{
	width:33%;
	float: right;
	margin-right: 48px;
}

/*fixed*/
.fixedPrice {
	width: 100%;
	position: fixed;
	top: -56px;
	left: 0;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4);
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	z-index: 1000;
	padding-bottom: 1px !important;
}
.fixedPrice .inWrap {
	width: 840px;
	margin: 10px auto;
	background: #fff;
	overflow: hidden;
	padding: 12px 30px 6px;
	border-radius: 6px;
}
.fixedPrice .price,
.fixedPrice .mainTxt {
	display: none;
}
.fixedPrice .title02 {
	background: none;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 3px;
	display: inline-block;
	vertical-align: middle;
}
.fixedPrice .priceBox {
	border: none;
	padding: 0;
	float: none;
}
.fixedPrice .priceBox .basic,
.fixedPrice .priceBox .innerWrap {
	display: inline-block;
	vertical-align: middle;
}
.fixedPrice .priceSec .priceBox {
	width: auto;
}
.fixedPrice .priceSec02 {
	width: auto;
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0;
}

/* colorbox */
.wrapInline_content {
	display: none;
}
#inline_content {
	padding: 10px;
	background: #fff;
}
.colorboxWrap {
	padding: 15px 15px 20px;
}
.colorboxGraph {
	width: 400px;
	margin: 0 auto 10px;
}


/* -- pageTop -- */
.pageTop {
	clear: both;
	padding: 60px 15px 0 0;
	text-align: right;
}
.pageTop a {
	padding-left: 12px;
	background: url(../../img/common/icon_arrow_02.png) 0 50% no-repeat;
}
.pageTopBtn {
	text-align: right;
	margin-top: 1px;
}
.pageTopBtn img {
	position: relative;
	right: -10px;
}


/* ----------------------------------------

footer

---------------------------------------- */

/* footer
---------------------------------------- */
#footer {
	border-top: 1px solid #ccc;
	font-size: 12px;
	border-bottom: 2px solid #fff;
}
#footer .inSec01 {
	padding: 15px 0 0;
	border-top: 1px solid #fff;
}
#copyright {
	width: 900px;
	margin: 0 auto;
	font-family: Arial;
}


/* footer 下固定
---------------------------------------- */
html,body{
	height:100%;
}
#container{
	width: 100%;
	position: relative;
	min-height: 100%;
}
#content,
#contentMp {
	padding-bottom: 126px; /*フッターの高さ+40*/
}
#footer,
#footerMp {
	width: 100%;
	height:66px;
	position:absolute;
	bottom:0;
}



/* ----------------------------------------

clearfix

---------------------------------------- */

/* Modern Browsers
------------------------------- */
.boxTitle01:after,
#header .inWrap:after,
#footer .inSec01:after,
.priceSec:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
	line-height: 0;
}

/* Legacy IE
------------------------------- */
.boxTitle01,
#header .inWrap,
#footer .inSec01,
.priceSec {
	*zoom: 1;
}
