@charset "utf-8";

@media screen and (max-width:767px){

/* 横幅指定解除
------------------------------- */
#header .inWrap,
#content,
#copyright {
	width: auto !important;
}


.pcDisBlock {
	display: block;
}
.pcDisBlock {
	display: inline;
}
.spDisBlock {
	display: block;
}
.spDisIBlock {
	display: inline-block;
}

/* ----------------------------------------

common

---------------------------------------- */
body {
	-webkit-text-size-adjust: none; /* フォントサイズ自動調整ナシ */
	color: #262626;
	font-size: 14px;
}
img {
	max-width: 100%;
	height: auto;
}
textarea,
select,
input[type="text"],
input[type="radio"],
input[type="checkbox"],
input[type="number"] {
	font-size: 16px;
	vertical-align: middle;
}
input {
	top: -1px;
}
select {
	top: -2px;
	position: relative;
}
.selectW100 select{
	width: 100%;
}
input::-webkit-input-placeholder {
	line-height: 1.4;
}


#container {
	background: #fff;
}

#header {
	margin-bottom: 15px;
}
#header .inWrap {
	padding: 0 0 15px;
}
#siteID {
	width: 48px;
	line-height: 1;
	margin: 30px 0 10px 15px;
}
#hdrNav {
	text-align: center;
	margin: 0 5px;
	font-size: 12px;
	right: 3px;
	top: 10px;
	width: auto;
}
#hdrNav li {
	margin-left: 5px;
}
#hdrNav li a {
	padding: 4px 8px;
	font-size: 12px;
}
#hdrNav li a span {
	padding-left: 17px;
	-webkit-background-size: 13px auto;
	background-size: 13px auto;
	min-height: inherit;
	background-position: 0 1px;
}
#content {
	margin: 0 10px;
}
.mainBlock {
	padding: 10px 10px;
}
#topicPath {
	margin-bottom: 10px;
}

.pageTopBtn {
	display: none;
}
#footer .inSec01 {
	padding: 15px 10px 30px;
}


.btnInTit {
	top: 4px;
	right: 10px;
}
.spNonInTit {
	position: static;
	text-align: right;
	margin: -5px 0 15px;
}

.flow {
	margin-bottom: 15px;
}
.flow li {
	font-size: 10px;
	height: 28px;
	text-align: left;
	padding: 0.5em 3% 0.5em 1%;
	line-height: 1.4;
}
.flow li:first-child {
	padding-right: 0;
	padding-left: 3%;
}
.flow li:last-child {
	padding-right: 0;
	padding-left: 2%;
	width: 23%;
}
.flowStyle02 li{
	width: 23%;
	height: 40px;
	background-size: 28px;
}
.flowStyle02 li.this {
	background-size: 28px;
}
.flowStyle02 li.prev {
	background-size: 28px;
}
.flowStyle02 li:last-child {
	width: 18%;
}
.iconInTit {
	position: static;
	margin-bottom: 13px;
}
.iconInTit li:first-child {
	margin-left: 0;
}

.spInput2row {
	margin-bottom: -7px;
}
.spInput2row input,
.spInput2row select {
	margin-bottom: 7px;
}

/* iconInTitle */
.iconInTitle {
	border-bottom: none;
}
.iconInTitle .inTitle {
	width: auto;
	display: block;
}
.iconInTitle .iconList01 {
	width: auto;
	display: block;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	float: none;
}
.iconInTitle .iconList01 li {
	margin: 0px 6px 6px 0;
}

/* priceSec */
.priceSec .price {
	margin: 0 0 10px;
	width: auto;
	float: none;
}
.priceSec .priceBox {
	float: none;
	margin: 2px 0 0;
	text-align: center;
	width: auto;
	font-size: 14px;
}
.priceSec .priceBox .basic {
	padding-left: 0;
	display: inline-block;
	vertical-align: middle;
}
.priceSec .priceBox span {
	font-size: 20px;
	vertical-align: baseline;
}
.priceSec .priceBox .innerWrap {
	display: inline-block;
	vertical-align: middle;
}
.priceSec02{
	float: none;
	width: 100%;
}
.priceSec02 .price {
	margin: 0 0 2px;
	width: auto;
}

.mainTxt{
	float: none;
	width: 100%;
	margin: 10px 0 20px;
}

/* fixed */
.fixedPrice .inWrap {
	width: auto;
	margin: 10px;
	padding: 9px 10px 7px;
}
.fixedPrice .priceSec {
	margin-right: 0;
	float: right;
}
.fixedPrice .priceSec02 {
	width: auto;
}
.fixedPrice .title02 {
	font-size: 14px;
	position: relative;
	top: 2px;
	margin-bottom: 2px;
}
.fixedPrice .priceBox {
	font-size: 14px;
	margin-top: 0;
}
.fixedPrice .priceBox span {
	font-size: 16px;
}
.fixedPrice .priceBox .basic {
	padding-left: 0;
	font-size: 12px;
}

/* col2Box */
.col2Box > div{
	width: 100%;
	float: none;
}
.col2Box{
	margin-top: 0;
	/*margin-bottom: 25px;*/
}



/* ----------------------------------------

title

---------------------------------------- */
.title01 {
	font-size: 16px;
	padding: 8px 10px 7px;
	margin-bottom: 15px;
}
.title02 {
	margin-bottom: 10px;
	padding-bottom: 6px;
	font-size: 16px;
	-webkit-background-size: 3px 2px;
	background-size: 3px 2px;
}
.title03{
	font-size: 16px;
	margin-bottom: 15px;
	padding-left: 5px;
}

/* ----------------------------------------

section

---------------------------------------- */
/* -- section01 -- */
.section01 {
	margin-bottom: 25px;
}
.section01:last-child {
	margin-bottom: 0;
}
.boxStl01 {
	padding: 15px 10px 10px;
}

.spNoImgSec {
	margin-bottom: 15px;
}
.spNoImgSec .imgL,
.spNoImgSec .imgR {
	float: none;
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 0 auto 10px;
}

/* ----------------------------------------

list

---------------------------------------- */

/* iconList
------------------------------- */
.iconList02 {
	text-align: center;
	margin-bottom: 5px;
}
.iconList02 li {
	width: auto;
	padding: 2px 10px 1px;
	margin: 0 5px 5px 0;
}


/* ----------------------------------------

tbl

---------------------------------------- */
table {
	font-size: 12px;
}
.tbl01 {
	margin-bottom: 15px;
}
.tbl01 tr {
	background: #f5f5f5;
}
.tbl01 > tbody > tr,
.tbl01 > tbody > tr > td {
	display: block;
}
.tbl01 > tbody > tr > th,
.tbl01 > tbody > tr > td.required,
.tbl01 > tbody > tr > td.option {
	display: inline-block;
	background: #f5f5f5;
}
.tbl01 tbody th,
.tbl01 tbody td {
	border: none !important;
}
.tbl01 tbody th {
	font-weight: 700;
}
.tbl01 td {
	background-color: #fff;
}
.tbl01 th > div,
.tbl01 td > div {
	padding: 10px;
}
table td.required > div,
table td.option > div {
	padding: 10px 5px;
}
table td.required p,
table td.option p {
	vertical-align: middle;
	line-height: 1.6;
}
.colW15 {
	width: 20%;
}
.tbl01 th > div {
	padding: 9px 7px 7px 7px;
}
.tbl01 td > div {
	padding: 9px 7px;
}
.tbl01 thead th > div {
	padding: 3px 3px 2px 3px;
}
.tblWrap03 {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
table.spW500 {
	min-width: 500px;
}
.tbl03 th,
.tbl03 td {
	padding: 10px 5px;
}
table th.icoDown {
	padding-left: 30px;
	background-position: 5px 49%;
}

/* ----------------------------------------

btn

---------------------------------------- */
.btn01 {
	font-size: 13px;
}
.btn01.btnBig {
	padding: 9px 10px 8px !important;
}
span.icoPosL {
	background-position: 0 .15em;
}
span.icoPosR {
	background-position: 100% .15em;
}
.btnMini span.icoPosL {
	background-position: 0 .15em;
}
.btnStyle01 input,
.btnStyle01 a {
	font-size: 14px;
	padding: 5px 20px;
}
.btnStyle01 .icoPosL {
	padding-left: 30px;
	background-position: 10px .75em;
}
.btnStyle01 .icoSearch {
	-webkit-background-size: 20px auto;
	background-size: 20px auto;
	padding-left: 30px;
	background-position: 7px .5em;
	padding-right: 10px;
}
.btnUnit01 li {
	margin: 0 5px 10px;
}
.btnUnit01 li.btnRight ,
.btnUnit01 li.btnLeft {
	margin-top: 10px;
	position: static;
}
.btnUnit01 li.btnRight a.btn01,
.btnUnit01 li.btnLeft a.btn01 {
	padding: 5px 7px 7px;
}
a.btn01 span.icoPlus,
a.btn01 span.icoBatu {
	padding-top: 1px;
}
.btnUnit01 li.btnRight a.btn01 span.icoBatu,
.btnUnit01 li.btnLeft a.btn01 span.icoPlus {
	padding-left: 18px;
}


/* ----------------------------------------

formStyle

---------------------------------------- */
input.medium01 { width: 150px;}
input.medium02 { width: 250px;}

select.selectYear {
	width: inherit;
}

.frmList01 li {
	display: inline-block;
	min-width: 48%;
	width: auto;
	margin-bottom: 8px;
	white-space: nowrap;
}
.frmList01 li input {
	float: left;
	margin-top: 3px;
	margin-right: 2px;
}
.frmList01 li label {
	display: block;
	margin-left: 15px;
}
.frmList02 li label {
	min-width: 30px;
}

.spformSet {
	display: block;
	margin-bottom: 7px;
}
.spformSet:last-child {
	margin-bottom: 0;
}
.frmTbl01 {
	margin-top: 5px;
}
.frmTbl01 tr,
.frmTbl01 th,
.frmTbl01 td {
	display: block;
}
.frmTbl01 th,
.frmTbl01 td {
	padding: 0 0 3px;
}
.frmTbl01 td:last-child{
	padding-bottom: 10px;
}
.zipCap {
	display: block;
	margin-top: 10px;
}


/* ----------------------------------------

other

---------------------------------------- */
.popUpBox {
	padding: 10px 5px 1px;
	margin: 5px auto 0;
}
#colorbox .btnUnit02 li {
	text-align: center;
}
#colorbox .btnUnit02:last-of-type {
	display: none;
}
.colorboxWrap {
	padding: 10px 5px 15px;
}
#tabNav > a {
	margin-bottom: 10px;
}
.btnTopRigth02 {
	top: -10px;
}

.kinyurei {
	margin-top: 4px;
}



/* ----------------------------------------

calendar

---------------------------------------- */
#tabNav ul li a,
#tabNav ul li.active a {
	font-size: 12px;
}
#tabNav ul li a span,
#tabNav ul li.active a span {
	padding: 7px 5px;
}
#inline_content { padding: 0 0 0 1px;}
.colorboxGraph { width: 250px;margin: 5px 0 0;}
.colorboxGraph .jqplot-table-legend {margin-top: 40px !important;}
div.jqueryCalendar div.main th,
div.jqueryCalendar div.main td,
div.jqueryCalendar div.main td p {
	font-size: 10px;
}
div.jqueryCalendar div.main th,
div.jqueryCalendar div.main td {
	padding: 3px;
	height: auto;
	min-height: 30px;
}
div.jqueryCalendar div.main td p.calTime {
	margin-bottom: 5px;
	line-height: 1.3;
}
div.jqueryCalendar div.main td p.calDate {
	margin-bottom: 3px;
	font-size: 11px;
}
.capCalendar {
	font-size: 12px;
	margin-bottom: 10px;
}
.optionArea ul li input {
	top: 5px;
}
.optionArea ul li .optionName {
	margin-bottom: 3px;
}
.optionPrice {
	margin-bottom: 10px;
}

/* ----------------------------------------

module

---------------------------------------- */
.pager {
	font-size: 12px;
}
ul.pager ol {
	margin: 0 3px;
}
.btnTopRigth {
	right: 6px;
	top: 6px;
}



/* ----------------------------------------

login

---------------------------------------- */

/* col2Box
------------------------------- */
.innerCol01 .loginBox{
	padding-right: 0;
	margin-bottom: 15px;
}
.innerCol02 .loginBox{
	padding-left: 0;
}
.loginBox table{
	margin-bottom: 0;
}
.col2Box .innerCol02 .loginBox .boxStl02 {
	margin-bottom: 0;
}
.col2Box .innerCol01 .loginBox .boxStl02 table th,
.col2Box .innerCol02 .loginBox .boxStl02 table th{
	width: auto !important;
	display: block;
	padding: 0;
}
.col2Box .innerCol01 .loginBox .boxStl02 table td,
.col2Box .innerCol02 .loginBox .boxStl02 table td {
	width: auto !important;
	display: block;
	padding: 5px 5px 10px;
}

.loginBox table td.err{
	padding: 0 5px 10px!important;
}

.remindBox {
	width: auto;
	margin: 15px auto 5px;
}
.remindBox .boxStl02 {
	padding: 10px 10px 15px;
}
.remindBox table th{
	width: auto !important;
	display: block;
	padding: 0;
}
.remindBox table td{
	width: auto!important;
	display: block;
	padding: 0 0 10px;
}
.remindCompBox {
	padding: 0;
}
.loginBtnList {
	padding-top: 0;
}
.loginBtnList .btn01 .icoPosL {
	background-position: 0 .1em;
}

/* ----------------------------------------

detail

---------------------------------------- */
.attention{
	padding:10px 15px;
	text-align: left;
	width: 88%;
}
.attention p{
	width: 100%;
	display: block;
}
.recommendBox{
	text-align: left;
}

/* ----------------------------------------

yoyakudata

---------------------------------------- */
.yoyakuBox{
	padding: 0;
}
.tabBox.yoyakuBox{
	padding: 13px;
	margin: 0 1px 0 1px;
}
.yoyakuBox li.box01{
	padding: 15px!important;
}

/* ----------------------------------------

condition

---------------------------------------- */
#kenpoName {
	display: block;
	margin-top: 5px;
}

/* ----------------------------------------

news

---------------------------------------- */
.newsList {
	margin: 5px 0 10px;
}
.newsList .date {
	width: auto;
	float: none;
	display: block;
	padding-left: 0;
	padding-bottom: 0;
}
.newsList .title {
	margin-left: 0;
	padding: 0px 0 8px;
}

/* ----------------------------------------

mypage

---------------------------------------- */
#headerMp,
.hdrMpSec,
#hdrMp01,
#hdrMp02,
#contentMp,
#main,
#subMp,
#copyright {
	width: auto !important;
}
#hdrMp02 .inCap,
#hdrMp02 .btnBeginner {
	display: none;
}
#main,
#subMp {
	float: none;
}
.textBox01 {
	padding: 12px 15px;
}

/* headerMp
------------------------------- */
#headerMp {
	padding: 10px 0;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 3px solid #0b65a2;
	margin-bottom: 15px;
}
#headerMp #siteID {
	margin-top: 8px;
}
#hdrMp01 {
	margin-right: 10px;
	margin-bottom: 0;
}
#hdrMp01 li {
	display: none;
}
#hdrMp01 li.logOut {
	display: block;
}
#hdrMp01 li.logOut a {
	display: block;
	background: url(/files/img/mypage/btn_logout_sp.png) no-repeat 0 0;
	-webkit-background-size: 39px 37px;
	background-size: 39px 37px;
	width: 39px;
	height: 37px;
}
#hdrMp01 li.logOut img {
	display: none;
}
#hdrMp02 {
	line-height: 37px;
	margin-bottom: 0;
}
#hdrMp02 .hdrName {
	line-height: 37px;
	margin-right: 3px;
}
#hdrMp02 .hdrName span {
	margin: 0 3px;
	font-family: inherit;
}
#headerMp #spMenu {
	width: 39px;
	height: 37px;
	display: inline-block;
	margin-right: 5px;
}
#headerMp #siteID {
	width: 65px;
	margin-left: 10px;
	line-height: 1;
	margin-bottom: 5px;
}
#gnavMp {
	display: none;
}
/* headMenu */
#headInner{
	width:300px;
	margin:0 auto;
	padding: 0 0 8px;
	position:relative;
}
#headMenu{
	position:absolute;
	right:10px;
	top:5px;
}
#headMenu li{
	float:left;
	margin:0 0 0 5px;
}

/* layerMenu */
#headerMp #layerMenu{
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	padding:5px 0;
	background-color:rgba( 255, 255, 255, 0.5 );
	z-index:9999;
}
#headerMp .layerMenuInner{
	width:300px;
	margin-right:10px;
	position:relative;
	float: right;
}
#headerMp .iconMenu{
	position:absolute;
	top:0;
	right:54px;
}
#headerMp .layerMenuArrow{
	position:absolute;
	top:37px;
	right:66px;
	z-index:99999;
}
#headerMp #layerMenu ul#spGnav {
	width: 280px;
	margin:40px 15px 0 0;
	background: #fff;
	border-radius:6px;
	position:relative;
	box-shadow:0 0 8px #bcbcbc;
	text-align: left;
	float: right;
}
#headerMp #layerMenu ul#spGnav > li {
	border-bottom: 1px solid #ccc;
	position: relative;
}
#headerMp #layerMenu ul#spGnav > li:last-child {
	border-bottom: none;
}
#headerMp #layerMenu ul#spGnav > li > a {
	display: block;
	padding:4px 20px 3px 30px;
	color:#262626;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	background: url(/files/img/mypage/icon_arrw_01.png) no-repeat 10px 50%;
}
#headerMp #layerMenu ul#spGnav > li > a.active {
	background-color: #edf5f9;
}
#headerMp #layerMenu ul#spGnav > li:first-child a.active {
	border-radius: 6px 6px 0 0;
}
#headerMp #layerMenu ul#spGnav ul li {
	border-top: 1px dotted #ccc;
}
#headerMp #layerMenu ul#spGnav ul li a {
	display: block;
	padding: 2px 40px 0;
	text-decoration: none;
	line-height: 2.5;
	background: url(/files/img/mypage/icon_arrw_02.png) no-repeat 25px 50%;
}
#headerMp #layerMenu ul#spGnav ul li.active {
	font-weight: 700;
}



/* contentMp
------------------------------- */
#contentMp {
	padding: 0 10px 100px;
}
.mainBlock {
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#main {
	margin-bottom: 30px;
}
.subMenuTit span {
	background-position: 0 2px;
}

/* top
------------------------------- */
#contentMp .col2Box.yoyakuBtn {
	margin-bottom: 5px;
}
#contentMp .col2Box.yoyakuBtn > div {
	float: none;
	width: 100%;
}
#contentMp .col2Box.yoyakuBtn > div > div {
	margin: 0 0 10px !important;
}
#contentMp .col2Box.yoyakuBtn .inBtn a {
	height: 4em;
	padding: 1px 10px;
	font-size: 12px;
}
#contentMp .btnRed > span,
#contentMp .btnGreen > span {
	background-position: 0 .15em;
	margin: 0;
}
.icoSchedule {
	padding-top: 4px;
}
.yoyakuBtn .inBtn a {
	font-size: 12px;
}
.yoyakuBtn .inBtn a span {
	background-position: 0 .1em;
}

/* graph
------------------------------- */
#contentMp .graphBox {
	margin-bottom: 0;
}
#contentMp .graphBox > div {
	width: auto;
	float: none;
	margin-bottom: 20px;
}
#contentMp .graphBox > div > div,
#contentMp .graphBox > div.last > div {
	margin: 0 10px;
}
.jqplot-title {
	font-family: inherit;
}



/* ----------------------------------------

clearfix

---------------------------------------- */
.frmList01 li:after {
	display: block;
	content: '';
	clear: both;
}

}