@charset "utf-8";

/* ----------------------------------------

Content

---------------------------------------- */
.col2Box .title02{
	text-align: center;
}
.codeTit{
	margin-bottom: 10px;
	font-weight: bold;
}

.col2Box {
	margin-top: 30px;
}
.col2Box .innerCol01 .boxStl01 {
	margin-right: 15px;
}
.col2Box .innerCol02 .boxStl01 {
	margin-left: 15px;
}

